/*
    Document   : layout
    Created on : Sep 10, 2011, 12:15:55 AM
    Author     : Greg Bueno
    Description:
        Uses the Minimalist, Sleepy Hollow and My Crazy Flat UI Status color schemes from the
	Color Schemer Gallery.
*/

body {
  background-image: url('assets/graphics/subtle_dots.png');
  background-color: $flat-white;
  color: $flat-black;
}

#masthead {
  background-color: transparent;
  background-image: none;
  &.mobile-music-instrument {
    display: none;
  }
}

#title {
  margin-top: 10px;
}

#content {
  #featured {
    margin-bottom: 1.5em;
  }
}

table.track-table {
  margin-top: 1em;
  thead {
    th {
      border: 1px solid $flat-black;
      background-color: $flat-red;
    }
  }
  tbody {
    tr:nth-child(2n) td {
      background-color: inherit;
    }
    td {
      border: 1px solid $flat-black;
    }
  }
}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  z-index: -1;
  opacity: 0.1;
  filter: alpha(opacity=10);
}