/* 
    Document   : typography
    Created on : Sep 10, 2011, 11:15:46 AM
    Author     : Greg Bueno
    Description:
        Uses the Minimalist Design and Sleepy Hollow color schemes from the
	Color Schemer Gallery.
*/

a {
  color: $light-blue;
  &:hover {
    color: $flat-red;
  }
}

body {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  color: $flat-black;
  font-family: 'Libre Bodoni', 'Lucida Sans Unicode', sans-serif;
  #newsletter-cta &, .hero-overlay & {
    color: white;
  }

  &.card-title {
    font-family: inherit;
  }
}

#masthead a, #masthead a:hover {
  color: #333;
}

#title {
  font-family: 'Libre Bodoni', 'Lucida Sans Unicode', sans-serif;
  font-size: 48px;
  a {
    text-decoration: none;
    color: #000;
  }
}

@media screen and (max-width: 768px) {
  #title {
    font-size: 36px;
  }
}